*{
    padding: 0;
    margin: 0;
}
body {
    background: lightgrey none repeat scroll 0 0;
    min-height: 100%;
}
body, html {
    height: 100%;
}
.A4{
    background-color: white;
    box-shadow: 0 0 10px 2px grey;
    margin: 0 auto;
    min-height: 100%;
    padding: 1px 50px 0;
    width: 1050px;
}
.menu{
    margin-top: 27px;
}
.ul1 {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    font-size: 0;
    background: dimgrey;
    background: linear-gradient(to top, dimgrey, gray);
}
.ul1 li{
    list-style: none;
    display: inline-block;
    border-left:  1px solid transparent;
    border-right:  1px solid transparent;
    background-color: dimgrey;
    background: linear-gradient(to top, dimgrey, gray);
}
.ul1 a{
    margin: 0 40px;
    line-height: 40px;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #393801;
    color: white;
}
h1{
    margin-top: 40px;
    padding-top: 20px;
    font-family: sans-serif;
}
.ul1 li:hover{
    background: #2c2c2c;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background: linear-gradient(to top, #2c2c2c, gray);
}
.center{
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}
.left{
    float: left;
    width: 260px;
}
.left-table li:hover{
    background: whitesmoke;
    padding-left: 15px;
}
.left-table a:hover{
    color: black;
}
.left-active {
    background: whitesmoke;
    padding-left: 15px;
}
.left-table{
    border: 1px solid #c8c8c8;
}
.left-table li:first-child {
    border: none;
}
.left-table li{
    border-top: 1px solid gainsboro;
    list-style: none;
}
.left-table a{
    line-height: 40px;
    margin-left: 20px;
    text-decoration: none;
    display: block;
    color: grey;
}
.left-active a{
    color: black;
}
.footer {
    position: relative;
    overflow: hidden;
    background-color: gainsboro;
    margin: 60px 0;
}
.ul2{
    float: left;
}
.ul2 li{
    float: left;
    list-style: none;
    display: inline-block;
    background-color: gainsboro;
    color: black;
    padding-right: 29px;
    padding-left: 45px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 15px;
}
.ul2 a{
    color: black;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    margin: -10px -3px;
    margin-right: 10px;
}
.footer1{
    float: right;
    color: black;
    margin-right: 30px;
    margin-top: 12px;
    font-family: sans-serif;
    font-size: 14px;
}
.button-active{
    text-decoration: underline;
}
.ul2 li:hover{
    text-decoration: underline;
}
.center-block{
    float: right;
    width: 740px;
}
.img{
    border: 1px solid gainsboro;
    text-align: center;
}
p{
    margin: 40px 24px 0 24px;
    font-family: sans-serif;
    line-height: 20px;
    font-size: 14px;
}
.ul1 .ul1-active{
    background: #2c2c2c;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    background: linear-gradient(to top, #2c2c2c, gray);


}
