* {
    margin: 0;
    padding: 0;
}
body{
    background: url('../img/background.png') repeat-x 0 0 #0c739f;
    font-family: "Tahoma", sans-serif;
}
.container{
    overflow: hidden;
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    padding-bottom: 2px;
    box-shadow: 0 0 10px 2px #343434;
    border: 1px solid dimgrey;
}
.img1{
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 23px;
}
.img1 p{
    float: left;
    position: absolute;
    left: 62px;
    top: 95px;
    color: #2292ad;
    font-size: 13px;
}
.contacts{
    float: right;
    color: #2292ad;
    margin-top: 6px;
    margin-right: 27px;
    line-height: 16px;
    font-size: 12px;
}
.contacts-header{
    font-weight: bold;
    line-height: 22px
}
.countries{
    clear: right;
    float: right;
    font-size: 10px;
    list-style-type: none;
    margin: 20px 17px 0 0;
}
.countries li{
    float: right;
}
.countries img {
}
.countries a{
    display: block;
    margin: 7px;
    text-align: center;
    color: #2292ad;
}
.countries img .countries a{
    text-align: center;
    display: block;
}
.img2{
    text-align: center;
    margin-top: -5px;
}
.menu{
    margin-top: -5px;
    padding-left: 54px;
    position: relative;
    z-index: 10;
    font-size: 0;
    background: #343434;
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
}
.menu li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.menu a{
    display: block;
    color: white;
    padding: 0 29px;
    line-height: 25px;
    font-size: 14px;
    text-decoration: none;
}
.list{
    background: #343434 none repeat scroll 0 0;
    box-sizing: border-box;
    color: white;
    display: none;
    left: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    position: absolute;
    top: 26px;
    width: 100%;
}
.list li{
    float: none;
    background: none;
}
.list a{
    padding-left: 8px;
    line-height: 22px;
    color: white;
}
.list-active,
.menu li:hover .list {
    display: block;
}
.arrow > a:after{
    position: relative;
    top: 0px;
    left: 4px;
    content: url('../img/arrow.png');
}
.all{
    width: 1000px;
    overflow: hidden;
}
.infa{
    float: left;
    width: 225px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.content{
    float: left;
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.news{
    float: right;
    width: 250px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.text{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #535b54;
}
.text1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #424c43;
}
.holidays{
    margin: 10px auto;
    text-align: center;
    color: white;
}
