body{
    background-color: lightgray;
    color: black;

}
h1{
    font-size: 23px;
    margin-top: 4px;
    text-align: center;
    padding-top: 45px;
}
.photo {
    width: 200px;
    height: 200px;
}
.img1{
    text-align: center;
}
.A4{
    width: 550px;
    background-color: white;
    margin: auto;
    padding-bottom: 50px;
    box-shadow: 0 0 10px 2px grey;
}
p{
    font-size: 18px;
    margin-left: 40px;
    text-align: left;
    color: dimgrey;
}
ul{
    font-size: 18px;
    margin-top: 4px;
    margin-left: 20px;
    text-align: left;
    color: dimgrey;
}

.line{
    border-bottom: solid;
    width: 500px;
    margin-left: 23px;
    color: lightgrey;
}
